<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features List</title>
</head>
<body>
    <div>
        <h3>API link of time calculator for using in the front-end</h3>
        <p></p>
        <ul>
            <li>
                Calculate the time
                <ul>
                    <li>Description: calculate time by adding or substracting the current time by a number of minutes.</li>
                    <li><a href="https://time-calculator-api.onrender.com/calculate_time/?hour=12&minute=40&change=1000&type=subtract">https://time-calculator-api.onrender.com/calculate_time/?hour=12&minute=40&change=1000&type=subtract</a></li>
                    <li>Method: GET</li>
                    <li>Parameters: hour(interger), minute(interger), change(integer), type(text)</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>